[pylint]
disable=
    broad-except,
    consider-iterating-dictionary,
    consider-using-f-string,
    global-statement,
    import-error,
    line-too-long,
    too-few-public-methods,
    too-many-branches,
    too-many-lines,
    too-many-locals,
good-names=
    init-postgresql
ignore=
    __init__.py,
notes=
    FIXME,
