[pylint]
disable=
    broad-except,
    consider-using-f-string,
    import-error,
    line-too-long,
    missing-function-docstring,
    too-many-branches,
    too-many-locals,
good-names=
    init-postgresql
ignore=
    __init__.py,
notes=
    FIXME,
